<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kushagra.restaurent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appfoodicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/conflig"
        android:roundIcon="@mipmap/appfoodicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurent">
        <activity android:name=".PlaceOderderActivity"></activity>
        <activity android:name=".CartActivity" />
        <activity android:name=".ItemListActivity" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>